.stat-block {
  padding: 1rem;
  text-align: center;
  display:flex;
  flex-direction: row;
  flex-wrap: wrap;
  column-gap: 10px;
  row-gap: 10px;
}

.stat-card {
  flex-grow: 1;
  background-color: #D2F1F9;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  padding: 1rem;
  min-width: 0px;
  flex: 1 1 200px;
}

.app-background {
  background-color: #FFD3E6;
}

.stat-number {
  font-size: 2rem;
  font-weight: bold;
  color: #331;
}

.stat-label {
  font-size: 0.9rem;
  color: #666;
  margin-top: 0.25rem;
}
